
<div class="container">
    <div class="row">
        <div class="col fancy-border">
            <h2>Post</h2>
            <h3>@Model.title</h3>
            <img src=@Model.img alt="@Model.title" class="imgBlog"/>
            <p>@Model.fullPost</p>
        </div>
    </div>
</div>
